@inject HttpClient HttpClient

@if (Success)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>New category has been added.</p>
    </div>
}

<EditForm Model="categoryModel" OnValidSubmit="CreateCategory">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Category name</span>
        </div>
        <input type="text" class="form-control" placeholder="Category Name" @bind-value="categoryModel.CategoryName" />
    </div>

    <div class="form-group row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Category description</span>
        </div>
        <textarea class="form-control" placeholder="Category Description (Optional)" @bind="categoryModel.CategoryDescription" />
    </div>

    <button class="form-group row btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    protected bool ErrorOccured { get; set; } = false;
    protected bool Success { get; set; } = false;

    public CreateCategoryDTO categoryModel { get; set; } = new CreateCategoryDTO();

    public async Task CreateCategory()
    {
        Success = false;

        var response = await HttpClient.PostJsonAsync("api/Admin/category/create", categoryModel);

        try
        {
            response.EnsureSuccessStatusCode();
            Success = true;
        }
        catch (HttpRequestException ex)
        {
            ErrorOccured = true;
            return;
        }
    }
}



@*<div class="form-group row">
        <InputText name="name" placeholder="Category Name" @bind-Value="categoryModel.CategoryName"></InputText>
        <label for="name">Category name</label>
    </div>*@
@*<div class="form-group row">
        <InputTextArea name="description" placeholder="Category Description (Optional)" @bind-Value="categoryModel.CategoryDescription"></InputTextArea>
        <label for="description">Category description</label>
    </div>*@