
<div>
    <EditForm Model="registerModel" OnValidSubmit="Register">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="UserName">Your User Name</label>
            <input class="form-group input-group" type="text" id="UserName" placeholder="User name" @bind-value="registerModel.UserName" />
        </div>
        <div class="form-group">
            <label for="Email">Your Email</label>
            <input class="form-group input-group" type="email" id="Email" placeholder="Email" @bind-value="registerModel.Email" />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-group input-group" type="password" id="Password" placeholder="Password" @bind-value="registerModel.Password" />
        </div>
        <div class="form-group">
            <label for="Confirm">Confirm password</label>
            <input class="form-group input-group" type="password" id="Confirm" placeholder="Confirm" @bind-value="registerModel.ConfirmPassword" />
        </div>
        <div class="form-group row"></div>
        <input class="btn btn-block btn-primary" type="submit" value="Register" />
    </EditForm>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    protected RegisterDTO registerModel { get; set; } = new RegisterDTO();

    public void Register()
    {
        BlazoredModal.Close(ModalResult.Ok<RegisterDTO>(registerModel));
    }
}
