
<div>
    <EditForm Model="registerModel" OnValidSubmit="Register">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label class="col-form-label font-weight-bolder" for="UserName">Your User Name</label>
        <input class="form-group input-group" type="text" id="UserName" @bind-value="registerModel.UserName" />
        <label class="col-form-label font-weight-bolder" for="Email">Your Email</label>
        <input class="form-group input-group" type="email" id="Email" @bind-value="registerModel.Email" />
        <label class="col-form-label font-weight-bolder" for="Password">Password</label>
        <input class="form-group input-group" type="password" id="Password" @bind-value="registerModel.Password" />
        <label class="col-form-label font-weight-bolder" for="Confirm">Confirm password</label>
        <input class="form-group input-group" type="password" id="Confirm" @bind-value="registerModel.ConfirmPassword" />

        <input class="btn btn-success" type="submit" value="Register" />
    </EditForm>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    protected RegisterDTO registerModel { get; set; } = new RegisterDTO();

    public void Register()
    {
        BlazoredModal.Close(ModalResult.Ok<RegisterDTO>(registerModel));
    }
}
