<div>
    <EditForm Model="loginModel" OnValidSubmit="Signin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="UserName">User Name</label>
            <input class="form-control" type="text" id="UserName" placeholder="User name" @bind-value="loginModel.UserName" />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-control" type="password" id="Password" placeholder="Password" @bind-value="loginModel.Password" />
        </div>
        <div class="form-group row">
            <input class="btn btn-block btn-primary" type="submit" value="Sign In" />
        </div>
    </EditForm>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    protected LoginDTO loginModel { get; set; } = new LoginDTO();

    public void Signin()
    {
        BlazoredModal.Close(ModalResult.Ok<LoginDTO>(loginModel));
    }
}
