@page "/admin"
@page "/admin/{pageType}"

@attribute [Authorize(Roles ="Administrator")]

@using TrainingProject.Client.Components;

@if (PageType == "questions")
{
    <AdminQuestionsComponent />
}
else if (PageType == "test")
{
    <AdminTestComponent />
}
else if (PageType == "category")
{
    <AdminCategoryComponent />
}
else 
{
    <h1>Ошибка при загрузке страницы</h1>
}

@code {
    [Parameter]
    public string PageType { get; set; }


}
