@page "/test/"
@page "/test/{name}"

@using TrainingProject.Domain.Logic.Models.Test

@inject HttpClient HttpClient

<h3>Test</h3>

@code {
    [Parameter]
    public string TestShortName { get; set; }

    public TestDetailsDTO TestDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync($"api/Index");

        response.EnsureSuccessStatusCode();

        TestDetails = await response.Content.ReadAsJsonAsync<TestDetailsDTO>();
    }

    /* Структура страницы
     * Описание теста, количество вопросов, текущий статус для пользователя(?), кнопка "пройти тест", кнопка "добавить вопрос"
     * При нажатии "Пройти тест страница ререндерится в список вопросов. 
     * Решить: структура теста (количество вопросов, как они размещены)"
     */
}
